@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Indie+Flower&family=Lobster&family=Nunito:wght@200;300;400&family=Playfair+Display:ital@0;1&family=Redressed&family=Roboto:ital,wght@0,100;0,300;1,300&family=Sansita+Swashed:wght@300&family=Source+Sans+Pro:ital,wght@0,200;0,400;1,300;1,400&display=swap');
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    
    font-family: 'Nunito', sans-serif;
    background-color: black;
    box-sizing: border-box;
    perspective: 5000px;
    overflow-x: hidden;

}
.navbar{
    background-color: #212121;
    color: white;
    font-weight: 700;

   position:relative;

}
.navbar ul li{
    color: white;
}
.navbar ul li:hover{
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}
a{
    text-decoration: none;
    color: white;
}
i{
    color: white;
}
a:hover{
    color: white;

}
.logIn:hover,
.logOut:hover
{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.cart button{
    border: none;
    padding: 5px;
    border-radius: 20%;
    background:#d74249;
    transition: all 0.2s ease-in-out;
    margin-left: 60px;
}
.cart button:hover{
    background: #fff;
}

.products{
padding: 6rem 0;
}
.products h2{
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#d74249;
    margin-bottom: 3rem;
}
.product-item{
margin: 1rem 0;
}
.product-img{
    background: #FFF;
    padding: 2rem;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.product-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* width: 40%;
    height: 80%; */
    
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}
.product-img:hover img{
    opacity: 0.8;
}
.product-content{
    padding: 1.6rem 0;
    text-align: center;
}
.add-to-cart-btn{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%,-50%);
    border: none;
    padding: 0.75rem 1.2rem;
    font-size: 1.05rem;
    background: #Fff;
    color:#d74249;
    transition:all 0.3s ease-in-out ;
    opacity: 0;
    width: 15vw;
}
.product-img:hover .add-to-cart-btn{
    opacity: 1;
}
.add-to-cart-btn .fas{
    margin-right: 0.4rem;
}
.add-to-cart-btn:hover{
    background: #23272a;
}
.product-item:hover button{
    color: #d74249;
    font-weight: 500;
   
}
.product-category{
    margin: 0.8rem 0;
    display: inline-block;
    font-weight: 700;
    background:#f9d71c;  
    color: #d74249;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-size: 20px;

}
.product-price{
    font-size: 1.15rem;
    font-weight: 500;
    opacity: 0.6;
}

@media (min-width:468px){
  .product-list{
    grid-template-columns: repeat(3,1fr);
  }
}
@media (min-width:768px){
  .product-list{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      column-gap: 2rem;
  }
}
@media (min-width:992px){
.product-list{
    grid-template-columns: repeat(4,1fr);
}  
}

.show-navbar{
    height: 204px;
}
.cart{
    justify-self: flex-end;
    padding-right: 8px;
}
#cart-btn{
    border: none;
    font-size: 1.1rem;
    background: none;
    position: relative;
    background: #d74249;
}
#cart-btn:hover {
    background: #FFF;
}

.cart-count-info{
    position: absolute;
    top: -12px;
    right: -8px;
    background: #FFF;
    font-size: 1rem;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.cart-container{
    position: absolute;
    overflow-y: scroll;
    background: #f9d81c96; 
    width: 30%;
    /* height: 350px; */
    top: 100%;
    left: 69%;
    right: 0;
    border-radius: 5px;
    box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.21);
    display:none ;
}
.cart-container::-webkit-scrollbar{
    width: 8px;
}
.cart-container::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.show-cart-conatiner{
display: block;
}
.cart-item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 0.5rem;
    align-items: center;
    position: relative;
    padding: 1.2rem 0.6rem;
    height: 140px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}
.cart-item:last-child{
    border-bottom: none;
}
.cart-item-del-btn{
    position: absolute;
    right:5px;
    top: 10px;
    padding: 0.5rem 0.45rem;
    font-size: 1.4rem;
    background: #d74249;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.cart-item img{
    width: 120px;
    border-radius: 10px;
}
.cart-item-info{
    text-align: center;
}
.cart-item-info span{
    display: block;
}
.cart-total{
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #d74249;
    color: #fff;
    border-radius: 5px;
    /* width: 100%; */
    margin-bottom: 5px;
    margin-left: 8px;
}
.cart-total h3{
    margin-left: 0.2rem;
    font-size: 1.3rem;
}
#cart-total-value{
    font-size: 1.3rem;
    font-weight: 500;
}







footer{
    background-color: #0d0d0d;

}
.foot{
    max-width: 1170px;
    margin: auto;
}
footer ul{
    list-style: none;
}
footer .row{
display: flex;
flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h1{
   font-size: 25px;
   margin-top: 50px;
   color: #fff;
   text-transform: capitalize;
   margin-bottom: 30px;
   font-weight: 500;
   position: relative;
}
.footer-col h1::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #d74249;
    height: 2px;
    box-sizing: border-box;
    width: 58px;
    height: 4px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.myName{
    color:#d74249;
    font-size: 20px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    color: #bbb;
    display: block;
    transition: all 0.3s ease-in-out;

}
.footer-col ul li a:hover{
    color: #FFF;
    padding-left:7px ;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
}
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

}
@media(max-width:574px)
{
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }

}
